In [1]:
import pandas as pd
import os

df = pd.read_excel("../../src/combined_labels_with_patient_id.xlsx")
df.head()

,ID,Binary TNM Stage,Binary Stage T,3-class Stage T,Binary Stage N,Stage M,MSI,KRAS,NRAS,BRAF,Vital Status,Overall Survival (months),Cohort,De-ID,died_within_5_years,Patient ID
0,SL-1,1.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,Dead,32.0,RIH,SL-1,1.0,SL-1
1,SL-2,0.0,1.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,Dead,50.0,RIH,SL-2,1.0,SL-2
2,SL-3,0.0,1.0,2.0,0.0,0.0,0.0,NaN,NaN,NaN,Alive,59.0,RIH,SL-3,0.0,SL-3
3,SL-4,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,Alive,57.0,RIH,SL-4,0.0,SL-4
4,SL-5,1.0,1.0,1.0,1.0,0.0,1.0,NaN,NaN,NaN,Alive,56.0,RIH,SL-5,0.0,SL-5

In [2]:
surgen_df = df[df['Cohort'].str.startswith('SR')]

In [3]:
import pandas as pd
from sklearn.model_selection import StratifiedKFold, train_test_split

# filter the dataframe based on the 'Cohort' column
training_corhort = "SR" # SR, TCGA, ALL

for task in ["Binary TNM Stage", "Binary Stage T", "3-class Stage T", "Binary Stage N", "Stage M", "MSI", "KRAS", "NRAS", "BRAF", "died_within_5_years"]:

    new_df = surgen_df.copy()
        
    # drop all nans in the task column
    new_df = new_df.dropna(subset=[task])
    
    # print the value counts of the task column
    print(f"Value counts for {task}:")
    print(new_df[task].value_counts())

    # remove rows with "Cohort" == RIH" and De-ID start with SL-3
    # new_df = new_df[~((new_df['Cohort'] == 'RIH') & (new_df['De-ID'].str.startswith('SL-3')))]
    train, val = train_test_split(new_df, test_size=0.2, random_state=42, stratify=new_df[task])
    
    # 1) Initialize k-fold column
    new_df["k_fold"] = -1

    # 2) Only perform k-fold on samples where Cohort is not RIH
    mask = new_df["De-ID"].isin(train["De-ID"])
    df_train = new_df[mask].copy()
    
    # stratification labels
    y = df_train[task].values

    # 3) Prepare index mapping back to original df
    train_indices = df_train.index

    # 4) Stratified K-Fold
    skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

    for fold, (_, val_idx) in enumerate(skf.split(df_train, y)):
        val_original_idx = train_indices[val_idx]     # map back to original df rows
        new_df.loc[val_original_idx, "k_fold"] = fold

    # 5) Inspect results
    print(f"K-Fold distribution for {task}:")
    print(new_df["k_fold"].value_counts())
    print("\n")
    # only select the DE ID, WHO 2022, WHO 1973, and Binary WHO 2022 columns and k_fold column

    new_df = new_df[["De-ID", "Patient ID", "Cohort", task, "k_fold"]]
    new_df.to_csv(f'../../src/SurGen_{task}_k_fold.csv', index=False)

Value counts for Binary TNM Stage:
Binary TNM Stage
1.0    418
0.0    296
Name: count, dtype: int64
K-Fold distribution for Binary TNM Stage:
k_fold
-1    143
 0    115
 2    114
 4    114
 3    114
 1    114
Name: count, dtype: int64


Value counts for Binary Stage T:
Binary Stage T
1.0    611
0.0    102
Name: count, dtype: int64
K-Fold distribution for Binary Stage T:
k_fold
-1    143
 1    114
 0    114
 4    114
 3    114
 2    114
Name: count, dtype: int64


Value counts for 3-class Stage T:
3-class Stage T
1.0    351
2.0    260
0.0    102
Name: count, dtype: int64
K-Fold distribution for 3-class Stage T:
k_fold
-1    143
 1    114
 3    114
 0    114
 4    114
 2    114
Name: count, dtype: int64


Value counts for Binary Stage N:
Binary Stage N
1.0    400
0.0    304
Name: count, dtype: int64
K-Fold distribution for Binary Stage N:
k_fold
-1    141
 0    113
 1    113
 2    113
 4    112
 3    112
Name: count, dtype: int64


Value counts for Stage M:
Stage M
0.0    626
1.0     88
Name: count, dtype: int64
K-Fold distribution for Stage M:
k_fold
-1    143
 0    115
 3    114
 1    114
 4    114
 2    114
Name: count, dtype: int64


Value counts for MSI:
MSI
0.0    890
1.0    103
Name: count, dtype: int64
K-Fold distribution for MSI:
k_fold
-1    199
 3    159
 2    159
 1    159
 0    159
 4    158
Name: count, dtype: int64


Value counts for KRAS:
KRAS
0.0    575
1.0    406
Name: count, dtype: int64
K-Fold distribution for KRAS:
k_fold
-1    197
 2    157
 0    157
 1    157
 3    157
 4    156
Name: count, dtype: int64


Value counts for NRAS:
NRAS
0.0    865
1.0     34
Name: count, dtype: int64
K-Fold distribution for NRAS:
k_fold
-1    180
 2    144
 1    144
 3    144
 0    144
 4    143
Name: count, dtype: int64


Value counts for BRAF:
BRAF
0.0    768
1.0    131
Name: count, dtype: int64
K-Fold distribution for BRAF:
k_fold
-1    180
 2    144
 3    144
 1    144
 0    144
 4    143
Name: count, dtype: int64


Value counts for died_within_5_years:
died_within_5_years
0.0    264
1.0    161
Name: count, dtype: int64
K-Fold distribution for died_within_5_years:
k_fold
-1    85
 2    68
 4    68
 1    68
 0    68
 3    68
Name: count, dtype: int64